* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

h1 {
    color: red;
    margin: auto;
    text-align: center;
}

.border {
    border: solid 2px black;
}

.hideMe {
    display: none;
}

.gameContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.bird {
    position: absolute;
    background-image: url("../assets/images/bird2.png") no-repeat;
    background-size: cover;
}

.game-wrapper {
    background: url("../assets/images/bg.png") center no-repeat;
    background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: -1;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.pipe {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}

.scoreWrapper {
    position: absolute;
    top: 5%;
    left: 48%;
    color: white;
    font-size: 3rem;
}

.startBtn {
    padding: 2%;
    position: absolute;
    border-radius: 5px;
    color: white;
    left: 40%;
    top: 34%;
    text-align: center;
    cursor: pointer;
    font-size: 2rem;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
        rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px,
        rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    background-color: brown;
}
.pipeUp {
    background: url("../assets/images/pipeTop.png");
}
.pipeDown {
    background: url("../assets/images/pipeBottom.png");
}
